<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @plane.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @plane.model %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
